---
title: CHECKLIST
permalink: "/checklist"
layout: checklist
---

<section id="header">
{% include navbar.html %}
{% include pageHeader.html %}
</section>

<section id="checklistChina">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th></th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><input type="checkbox" checked data-toggle="toggle" data-on="<i class='fas fa-times'></i> To do" data-off="<i class='fas fa-check'></i> Done" data-size="large"></th>
              <td>Acquire ICP License</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12"></div>
      <div class="col-12"></div>
      <div class="col-12"></div>
      <div class="col-12"></div>
      <div class="col-12"></div>
      <div class="col-12"></div>
    </div>
  </div>
</section>
