---
title: Home
permalink: "/"
layout: page
---

<section id="header">
{% include navbar.html %}
{% include pageHeader.html %}
</section>

<section id="tools">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">RAID LOG</h3>
              <p class="card-text">Create a RAID Log for a project to capture key risks, assumptions, issues and dependancies.</p>
              <a href="{{ site.github.url }}/raid" class="btn btn-primary">GO TO RAID</a>
            </div>

          </div>
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">UX ALCHEMY</h3>
              <p class="card-text">Build a project recipe adding only the ingredients you need, see the project time and cost.</p>
              <a href="{{ site.github.url }}/recipe" class="btn btn-primary">GO TO ALCHEMY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
