---
title: DEPT PUB QUIZ
permalink: "/pub-quiz"
layout: default
---

<section id="header">
{% include navbar-quiz.html %}
{% include pageHeader.html %}
</section>

<div class="container" id="main-boady">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Log in to your team</h2>
        <form id="siginInForm">
          <div class="form-group">
            <input class="form-control" type="text" id="email" name="email" placeholder="Email" />
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" />
            <br /><br />
            <button class="btn btn-primary btn-block" id="quickstart-sign-in" name="signin">LOG IN</button>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
  </div>


    <script>
    </script>

    {% include quizModals.html %}
