---
title: RAID
permalink: "/raid"
layout: raid
---

<section id="header">
{% include navbar.html %}
{% include pageHeader.html %}
</section>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <h2>PROJECTS<button id="addProjectRaid" class="btn btn-sm btn-light" data-toggle="modal" data-target="#newRaidProjectModal">add new</button></h2>
      <ul class="list-group list-group-flush" id="listProjects">


      </ul>
    </div>
    <div class="col-12 col-md-9">
      <h2>RISKS</h2>
      <p> Events that will have an adverse impact on your project if they occur. Risk refers to the combined likelihood the event will occur and the impact on the project if it does occur. If the likelihood of the event happening and impact to the
        project are both high, you identify the event as a risk. The log includes descriptions of each risk, full analysis and a plan to mitigate them.</p>
      <h2>ASSUMPTIONS</h2>
      <p>Any factors that you are assuming to be in place that will contribute to the successful result of your project. The log includes details of the assumption, the reason it is assumed, and the action needed to confirm whether the assumption is
        valid.</p>
      <h2>ISSUES</h2>
      <p>Something that is going wrong on your project and needs managing. Failure to manage issues may result in a poor delivery or even complete failure. The log includes descriptions of each issue, its impact, its seriousness and actions needed
        to contain and remove it.</p>
      <h2>DEPENDANCIES</h2>
      <p>Any event or work that are either dependent on the result of your project, or on which your project will be dependent. The log captures whom you are dependent on, what they should deliver and when. It may also include who is dependent on
        you.</p>
    </div>
  </div>
</div>
<div class="modal fade" id="newRaidProjectModal" tabindex="-1" role="dialog" aria-labelledby="newRaidProjectModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>NEW RAID PROJECT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="newRaidProjectForm">
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input placeholder="Name" class="form-control" id="projectName" ></input>
          </div>
          <div class="form-group">
            <label for="raidMessage">Description</label>
            <textarea placeholder="Project description" class="form-control" id="projectDescription" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" name="submit" onclick="createProject()">CREATE</button>
    </div>
  </div>
</div>
