---
title: UX RECIPE
permalink: "/recipe"
layout: page
---

<section id="header">
{% include navbar.html %}
{% include pageHeader.html %}
</section>
<section id="mainSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        <h2>I. Select Planning Activities</h2>
        <div class="row">
          <div class="col-12 col-md-3">
            <button class="activity btn btn-light">Expert Review</button>
          </div>
          <div class="col-12 col-md-3">
            <button class="activity btn btn-light">Expert Review</button>
          </div>
          <div class="col-12 col-md-3">
            <button class="activity btn btn-light">Expert Review</button>
          </div>
          <div class="col-12 col-md-3">
            <button class="activity btn btn-light">Expert Review</button>
          </div>
          <div class="col-12 col-md-3">
            <button class="activity btn btn-light">Expert Review</button>
          </div>
          <div class="col-12 col-md-3">
            <button class="activity btn btn-light">Expert Review</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <!-- Summary -->
      </div>
    </div>
  </div>
</section>
