<ol>
  {% for category in site.categories %}
  <h2>
    <li> {{ category[0] }}</li>
  </h2>
  <ul class="ingredientList">
  {% for post in category[1] %}
  {% if post.active_ == true %}
  <li>
  <input class="activityCheckbox" type="checkbox" data-estimate="{{post.time_estimate}}" value="800" data-name="{{post.ingredient_name}}" data-labelauty="<span class='labelautyLabel'> {{post.ingredient_name}} </span>|<span class='labelautyLabel'> {{post.ingredient_name}} </span>" />
  </li>
  {% endif %}
  {% endfor %}
  </ul>
  {% endfor %}
</ol>
