<div class="modal fade" id="suberBreakModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Product Manager</h5>
        <h6 class="text-muted">Super Break January 2018</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Product Manager of Super Break website and new greenfield project</li>
          <li>Maintain, develop and deliver the product roadmap</li>
          <li>Manage and implement change portfolio across the website from projects to BAU</li>
          <li>Manage and prioritise issue backlog based on customer and business needs</li>
          <li>Liaise with senior leadership and management on various IT projects to establish
              needs and priorities</li>
          <li>Detail product requirements and aid the Business Analysis team when defining
              detailed requirements</li>
          <li>Coordinate project teams from discovery to implementation</li>
          <li>Manage A/B Tests, User Research and customer feedback and act on any learnings</li>
          <li>Coordinate research and analysis on projects</li>
          <li>Lead workshops/working groups</li>
          <li>Manage resource against product priorities</li>
          <li>Manage product development and change throughout the SDLC</li>
          <li>Establish and grow</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newRaidModal" tabindex="-1" role="dialog" aria-labelledby="newRaidModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>NEW RAID ITEM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="raidMessage">Description</label>
            <textarea placeholder="Your message" class="form-control" id="raidMessage" rows="3"></textarea>
          </div>
          <div class="form-group">
             <label for="raidSeveritiy">Severity</label>
             <select class="form-control selectIcon" id="raidSeveritiy">
               <option>Red</option>
               <option>Amber</option>
               <option>Green</option>
             </select>
           </div>
          <div class="form-group">
            <label for="riskMitigation">Mitigation</label>
            <input type="text" class="form-control" id="riskMitigation" placeholder="How can this be mitigated">
          </div>
          <div class="form-group">
            <label for="riskOwner">Owner</label>
            <input type="text" class="form-control" id="riskOwner" placeholder="Add risk owner">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="addRaidItem">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="updateRiskModal" tabindex="-1" role="dialog" aria-labelledby="updateRiskModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>VIEW RAID ITEM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="raidMessageView">Description</label>
            <textarea placeholder="Your message" class="form-control" id="raidMessageView" rows="3"></textarea>
          </div>
          <div class="form-group">
             <label for="raidSeveritiyView">Severity</label>
             <select class="form-control selectIcon" id="raidSeveritiyView">
               <option>Red</option>
               <option>Amber</option>
               <option>Green</option>
             </select>
           </div>
          <div class="form-group">
            <label for="riskMitigationView">Mitigation</label>
            <input type="text" class="form-control" id="riskMitigationView" placeholder="How can this be mitigated">
          </div>
          <div class="form-group">
            <label for="riskOwnerView">Owner</label>
            <input type="text" class="form-control" id="riskOwnerView" placeholder="Add risk owner">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closeRaidItem">CLOSE RISK</button>
        <button type="submit" class="btn btn-primary" id="addRaidItem">ADD</button>
      </div>
    </div>
  </div>
</div>
