<table class="table" id="summary-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Time</th>
      <th scope="col">Rate</th>
      <th scope="col" id="#totalTotal">Total</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td id="timeSum"></td>
      <td></td>
      <td id="costSum"></td>
    </tr>
  </tfoot>
</table>
<div class="btn-group" role="group" id="tableControl">
  <button type="button" class="btn btn-secondary"><i class="fas fa-cloud-download-alt"></i></button>
  <button type="button" class="btn btn-secondary"><i class="fas fa-sync"></i></button>
  <button type="button" class="btn btn-secondary"><i class="fas fa-calculator"></i></button>
</div>
