<table class="table" id="summary-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Time (days)</th>
      <th scope="col">Rate</th>
      <th scope="col" id="#totalTotal">Total</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td id="timeSum"></td>
      <td></td>
      <td id="costSum"></td>
    </tr>
  </tfoot>
</table>
<div class="btn-group" role="group" id="tableControl">
  <button onclick="javascript:window.print()" type="button" class="btn btn-secondary"><i class="fas fa-print"></i></button>
  <button type="button" class="btn btn-secondary toggle-visible" id="tableReset"><i class="fas fa-sync"></i></button>
  <button href="#conclusion" type="button" class="btn btn-secondary calculate-me toggle-visible"><i class="fas fa-calculator"></i></button>
</div>

<div class="row">
    <div class="col-md-12" id="conclusion">
          <h3>TOTAL DAYS <span class="hours"></span></h3> and
          <h3>TOTAL COST <span class="cost"></span></h3>
    </div>
</div>
